name: CI
on: [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: borales/actions-yarn@v3
        with:
          cmd: install # will run `yarn install` command
      - uses: borales/actions-yarn@v3
        with:
          cmd: test --pass-with-no-tests # will run `yarn test` command
